{% extends "base_generic.html" %}

{% block content %}
  <h1>Local Library Home</h1>
  <p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Number Instances:</strong> {{ num_instance }}</li>
    <li><strong>Number author:</strong> {{ num_author }}</li>
    <li><strong>Number Available Instances:</strong> {{ num_instance_available }}</li>
  </ul>
{% endblock %}